.blended {
    background-color: black;
    mix-blend-mode: multiply;
  }

  .course{
    color: #E8E8E8;
  }

  .expo{
    background: #ebf7fd;

  }
  .paragraph-fs{
    font-size: 15px;
    color: #E8E8E8;
  }
.footer{
    background: #161616;
}
.icons{
    color: #FFFFFF;;
}
.overley{
  filter: brightness(40%);
}

@media only screen and (max-width:576px) {
  .carousel-caption h1{
      font-size: 16px;
  }
  .carousel-caption p{
      font-size: 12px;
  }
}
